@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format('woff2');
}

/* Commom */

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  scroll-behavior: smooth;
  height: 100%;
  color: #333333;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.page-body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-main {
  flex-grow: 1;
}

/* Button */

.button {
  display: inline-block;
  padding: 8px 15px;
  color: #fff;
  background-color: #83B3D3;
  border: 3px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.button:focus-visible {
  border-color: #615048;
  background-color: #68a2ca;
}

.button:hover {
  background-color: #68a2ca;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.button-secondary {
  background-color: #756257;
}

.button-secondary:focus-visible {
  outline: none;
  background-color: #615048;
  border-color: #83b3d3;
}

.button-secondary:hover {
  background-color: #615048;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-large {
  font-size: 20px;
  padding: 16px;
  border-radius: 10px;
}

.button-success {
  background-color: #7db54f;
}

.button-success:focus-visible {
  background-color: #6c9e42;
}

.button-success:hover {
  background-color: #6c9e42;
}

.button-success:active {
  background-color: #6c9e42;
}


/* Header */

.header-nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 30px;
  min-height: 65px;
  padding: 0 72px;
}

.logo {
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
}

.logo-img {
  display: block;
}

.site-menu {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.site-menu-item {
  display: flex;
  align-items: center;
}

.site-menu-item-active {
  position: relative;
}

.site-menu-item-active::after {
  content: "";
  position: absolute;
  right: 17px;
  left: 17px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
}

.site-menu-link {
  display: block;
  padding: 17px;
  color: #000;
  text-decoration: none;
}

.site-menu-link:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.site-menu-link:hover {
  color: #756257;
}

.site-menu-link:active {
  color: #756257;
  opacity: 0.3;
}

/* Additional Menu */

.additional-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  max-width: 322px;
}

.additional-menu-link {
  display: grid;
  place-content: center;
  width: 42px;
  height: 65px;
  position: relative;
}

.additional-menu-link:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.additional-menu-link:hover path {
  fill: #756257;
}

.additional-menu-link:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.additional-menu-link:active .additional-menu-counter {
  color: rgba(255, 255, 255, 0.3);
}

.additional-menu-counter {
  display: block;
  position: absolute;
  top: 15px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 10px;
  line-height: 190%;
  letter-spacing: -0.1em;
  text-align: center;
  background-color: #7db54f;
  color: #fff;
}

.additional-menu-button {
  margin-left: 20px;
  width: 160px;
}

/* Footer */

.page-footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 30px;
  padding: 30px 72px;
}

.page-footer-social {
  align-self: start;
  margin-top: 8px;
}

.footer-phone {
  padding: 15px;
  border-radius: 10px;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}


.footer-phone:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-developer {
  display: block;
  margin-right: -12px;
  padding: 16px 22px;
  justify-self: end;
  border-radius: 10px;
}

.footer-developer:focus-visible {
  fill: #756257;
  outline: 3px solid #68a2ca;
  outline-offset: -3px;
}

.footer-developer:hover {
  fill: #756257;
}

.footer-developer:active {
  fill: #756257;
  opacity: 0.3;
}

.footer-developer-image {
  display: block;
}

/* Promo */

.main-promo::before {
  content: "";
  display: block;
  height: 485px;
  background-color: #83B3D3;
  background-image: url(../img/index-top-banner.jpg);
}

/* Main */

.main-header {
  padding: 35px 72px 80px;
  color: #fff;
  background-color: #83B3D3;
  background-image: url(../img/catalog-background.jpg);
  background-size: cover;
}

.main-heading {
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 5px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-bottom: 45px;
  margin-left: -8px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item+.breadcrumbs-item {
  position: relative;
  margin-left: 10px;
}

.breadcrumbs-item+.breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: -7px;
  width: 5px;
  height: 8px;
  background-image: url("../img/icons/breadcrumb-arrow.svg");
}

.breadcrumbs-link {
  display: flex;
  padding: 3px 8px;
  border-radius: 4px;
  color: #fff;
}

.breadcrumbs-link:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-home {
  width: 28px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icons/breadcrumb-home.svg");
}

*/
/* Section */

.section-title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
}

/* Forms */

.field {
  display: flex;
}

.field-input {
  width: 100%;
  padding: 8px 20px;
  font-family: inherit;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 18px;
  background-color: #f2f2f2;
}

.field-input:hover {
  background-color: #e6e6e6;
}

.field-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field-input-error {
  border-color: #ff5757;
}

/* Range */
.range-input {
  color: #fff;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
}

.range-title {
  opacity: 0.3;
}


/* Card */

.card-containter {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  row-gap: 10px;
}

.card {
  position: relative;
  z-index: 0;

  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  grid-template-rows: 206px;
  grid-template-areas:
    "image image image"
    "title title title"
    "description description description"
    "button-more . button-chosen"
    "stars rate rate";
  row-gap: 16px;
  padding: 20px;
}

.card-link {
  grid-area: title;
  color: #000;
}

.card-link:focus {
  outline: none;
}

.card-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 160px;
  left: 0;
  z-index: 1;
}

.card-title {
  font-size: 24px;
  line-height: 31px;
}

.card-img {
  order: -1;
  width: 100%;
  height: 100%;
  grid-area: image;
  object-fit: cover;
}

.card-link:focus-visible+.card-img {
  outline: 3px solid #83b3d3;
}

.card-link:hover+.card-img {
  opacity: 0.6;
}

.card-link:active+.card-img {
  opacity: 0.3;
}

.card-description {
  grid-column: description;
  display: grid;
  grid-template-columns: 1fr 140px;
  column-gap: 26px;
  margin: 0;
  line-height: 23px;
}

.card-more {
  grid-area: button-more;
}

.card-chosen {
  grid-area: button-chosen;
}

.card-rate {
  grid-area: rate;
  justify-self: end;
  min-width: 160px;
  padding: 7px 8px 6px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
}

.card-star {
  grid-area: stars;
  align-self: start;
}

/* Star */
.star {
  width: 23px;
  margin: 0;
  min-height: 37px;
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 23px 17px;
  background-image: url("../img/icons/star.svg");
}

.star-two {
  width: 46px;
}

.star-three {
  width: 69px;
}

.star-four {
  width: 92px;
}

.star-five {
  width: 115px;
}

/* Advantages */

.advantages {
  text-align: center;
}

.advantages-content {
  padding: 62px 240px 80px;
}

.advantages-content .section-title {
  margin-bottom: 31px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  counter-reset: advantages;
}

.advantages-item {
  display: grid;
  gap: 30px;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  counter-increment: advantages;
}

.advantages-item-large {
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
  gap: 0;
  padding: 0;
  color: #fff;
  background-color: #83B3D3;
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  display: grid;
  align-content: start;
  gap: 26px;
  min-height: 384px;
  padding: 60px;
  padding-top: 98px;
}

.advantages-description::before {
  content: "— №" counter(advantages) " —";
}

.advantages-list-inner {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #333333;
  background-color: #fff;
}

.advantages-inner-item {
  display: grid;
  align-content: start;
  gap: 20px;
  min-height: 384px;
  padding: 60px;
  padding-top: 184px;
  background-repeat: no-repeat;
  background-size: 76px 76px;
  background-position: 50% 88px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-inner-item:nth-child(even) {
  background-color: #fff;
}

.advantages-inner-item-house {
  background-image: url("../img/icons/house.svg");
}

.advantages-inner-item-food {
  background-image: url("../img/icons/food.svg");
}

.advantages-inner-item-present {
  background-image: url("../img/icons/present.svg");
}

.advantages-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-large .advantages-title:not(.advantages-inner-item .advantages-title) {
  color: #fff;
}

.advantages-description .advantages-title {
  order: -1;
}

.advantages-img {
  grid-column: span 2;
  width: 100%;
  height: 0;
  min-height: 100%;
  object-fit: cover;
}

.advantages-item-large:nth-child(2) .advantages-img {
  order: -1;
}

.advantages-text {
  line-height: 21px;
}

/* Search */

.search {
  text-align: center;
  padding: 91px 240px 93px;
}

.search .section-title {
  margin-bottom: 29px;
}

.search .section-description {
  margin-bottom: 56px;
}

.search-button {
  width: 575px;
  height: 60px;
}

/* Select */

.select {
  position: relative;
  z-index: 1;
}

.select-button {
  display: grid;
  grid-template-columns: 1fr 50px;
  padding: 10px 18px;
  padding-right: 0;
  color: #333333;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  cursor: default;
  user-select: none;
}

.select-button::-webkit-details-marker {
  display: none;
}

.select-button::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/icons/select-arrow-down.svg");
}


.select-button:focus-visible:not(:active) {
  outline: none;
  border-color: #83b3d3;
}

.select-button:hover:not(:active) {
  border-color: #83b3d3;
}

.select-button:active {
  color: rgba(51, 51, 51, 0.3);
}

.select-button:active::after {
  opacity: 0.3;
}

.select[open] .select-button::after {
  transform: rotate(180deg);
}


.select-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.select-item-active {
  background-color: #e6e6e6;
}

.select-option {
  display: block;
  padding: 8px 20px;
  color: #333333;
}

.select-option:hover {
  background-color: #f2f2f2;
}

.select-item-active .select-option:hover {
  background-color: transparent;
}

.select-option:active {
  color: rgba(51, 51, 51, 0.3);
  background-color: #f2f2f2;
}

.select-label {
  margin-right: 50px;
}

/* Subscribe */

.subscribe {
  padding: 94px 200px;
  text-align: center;
}

.subscribe-primary .section-title {
  color: #fff;
  margin-bottom: 29px;
}

.subscribe-primary {
  color: #fff;
  background-color: #83B3D3;
  background-image: url(../img/index-background.jpg);
  background-size: cover;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 200px;
  margin-top: 41px;
}

.subscribe-field .field-input {
  border-radius: 10px 0 0 10px;
}

.subscribe-button {
  border-radius: 0 10px 10px 0;
}

/* Social */

.social {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2px;
  margin-left: -2px;
}

.social-item {
  margin: 2px;
}

.social-link {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.social-link:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.social-link:hover path {
  fill: #68a2ca;
}

.social-link:active path {
  opacity: 0.3;
}

/* Filter */

.filter-form {
  display: grid;
  grid-template-columns: 200px 200px 1fr 223px;
  justify-content: space-between;
  gap: 17px;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.filter-fieldset-price {
  margin-left: 96px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.filter-submit {
  width: 160px;
  height: 48px;
}

.button.filter-submit {
  margin-bottom: 20px;

}

.filter-reset {
  align-self: center;
  color: #fff;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

/* Catalog */

.catalog {
  padding: 0 72px;
}

.catalog-sort {
  display: grid;
  grid-template-columns: 1fr 287px max-content;
  gap: 80px;
  padding: 44px 0;
}

.catalog-title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

/* View */

.view {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 224px;
  margin: -4px;
}

.view-item {
  margin: 4px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.view-link-tiles {
  background-image: url("../img/icons/mode-tile.svg");
}

.view-link-slideshow {
  background-image: url("../img/icons/mode-slideshow.svg");
}

.view-link-list {
  background-image: url("../img/icons/mode-list.svg");
}

.view-link:focus-visible {
  outline: none;
  border-color: #83b3d3;
}

.view-link:hover {
  border-color: #83b3d3;
}

.view-link:active {
  border-color: #000000;
}

.view-item-active .view-link {
  border-color: #000000;
}

/* Pagination */

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
}

.pagination-button {
  width: 620px;
  border-radius: 4px;
}

.pagination-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  gap: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 55px;
  height: 55px;
  padding: 8px;
  color: #fff;
  background-color: #83B3D3;
  font-size: 20px;
  font-weight: 700;
}

.pagination-link:focus-visible:not(:active) {
  outline: 3px solid #756257;
  outline-offset: 0;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item-active .pagination-link {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-select {
  display: flex;
  align-items: center;
}

.pagination-select .select {
  min-width: 160px;
}