.top-banner {
  width: 1200px;
  height: 485px;
  background-image: url(./img/index-top-banner.jpg);
  background-size: cover;
}

.subscribe {
  width: 1200px;
  height: 411px;
  background-image: url(./img/index-background.jpg);
  background-size: cover;
}